<header class="shadow mb-4">
  <nav class="navbar navbar-expand-md">
    <!-- <div class="col-sm-1 navbar-collapse">
      <img src="//static1.squarespace.com/static/5b1aa4273917ee690d90a64f/t/5cd47a349c0d080001c16963/1588257287488/?format=1500w" width="110" height="40">
    </div> -->
    <div class="col-sm-2 mr-1 navbar-nav navbar-collapse">
      <h5>ACME Inventory</h5>
    </div>

    <ul class="col-sm-3 navbar-nav navbar-collapse">
      <li><a routerLink="" class="nav-link text-dark">Welcome</a></li>
    </ul>

    <ul class="col-sm-7 navbar-nav navbar-collapse justify-content-end">
      <li><a routerLink="/shop" class="nav-link text-dark iconfont icon-shop"></a></li>
      <li><a routerLink="/shop" class="nav-link text-dark">Shopping</a></li>
      <li><a routerLink="/car" class="nav-link text-dark iconfont icon-shop1"></a></li>
      <li><a routerLink="/car" class="nav-link text-dark">Shopping Car</a></li>
    </ul>

  </nav>
</header>
